.what-makes-us-different-wrapper .single-reason {
  background: #fff;
  padding: 20px 25px;
  border-radius: 6px;
  box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 5%), 0 1.5rem 2.2rem rgb(0 0 0 / 10%);
  margin-bottom: 30px;
  transition: all 0.3s ease-in-out;
}
.what-makes-us-different-wrapper .single-reason:hover {
  box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 10%),
    0 1.5rem 2.2rem rgb(0 0 0 / 20%);
  margin-bottom: 30px;
}
.what-makes-us-different-wrapper h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  margin: 20px 0;
  padding-bottom: 20px;
  position: relative;
  color: #343a40;
}
.what-makes-us-different-wrapper h3::after {
  content: "";
  position: absolute;
  border-bottom: 5px solid var(--brand-color);
  width: 80px;
  height: 5px;
  background-color: var(--brand-color);
  bottom: 0;
  left: 0;
}
.what-makes-us-different-wrapper P {
}
