.custom-btn {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
}
.custom-btn {
  margin: 10px;
  padding: 12px 30px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff !important;
  box-shadow: 0 0 20px #eee;
  border-radius: 30px;
  display: inline-block;
  font-size: 16px !important;
  border: none;
}

.custom-btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.menu-items a {
  color: var(--blue-color);
  font-family: "Manrope", sans-serif !important;
  font-weight: 500 !important;
  font-size: 14px;
  font-weight: 500;
  margin: 0 3px;
}
.menu-items a:nth-child(7) {
  margin-right: 40px;
}
.menu-items a:hover {
  color: var(--brand-color);
}
