.footer {
  margin-top: 100px;
  background-color: #01234e;
}
.footer-content {
  color: #a7a7a7;
}
.footer-content h4 {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
  font-weight: 600;
}
.footer-content h6 {
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
}
.footer-content ul {
  padding: 0;
}
.footer-content ul li {
  list-style: none;
}
.footer-content ul li a {
  text-decoration: none;
  color: #a7a7a7;
  line-height: 30px;
  transition: all 0.3s ease-in-out;
}
.footer-content ul li a:hover {
  color: #e12429;
}
.footer-content a span {
  font-size: 14px;
  border: 1px solid #fff;
  padding: 3px 10px;
  display: inline-block;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: #a7a7a7;
}
.footer-content span:hover {
  border: 1px solid #e12429;
}
.footer-content p {
  text-align: inherit;
  font-family: "Poppins", sans-serif !important;
  color: #a7a7a7 !important;
}
.footer-content p a {
  text-decoration: none;
  color: #e12429;
  transition: all 300ms;
}
p.copyrhgit a {
  text-decoration: none;
  color: #a7a7a7;
  transition: all 300ms;
}
.footer-content p a:hover,
p.copyrhgit a:hover {
  text-decoration: none;
  color: #ddd;
}
.contact-info a {
  text-decoration: none;
  color: #a7a7a7;
  display: inline-block;
  margin-bottom: 15px;
}
.copyrhgit {
  font-size: 14px;
  color: #fff;
  border-top: 1px solid #ddd;
}
