.page-title {
  background-image: url("../../images/page-title-bg.jpg");
  background-size: cover;
  background-position: center top;
  margin-bottom: 50px;
  padding: 120px 0;
}

.page-title h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  position: relative;
}
.page-title h2::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 5px;
  background-color: #fff;
  bottom: -7px;
}

@media screen and (max-width: 668px) {
  .page-title {
    padding: 40px 0;
  }
  .page-title h2 {
    font-size: 30px;
    font-weight: 600;
  }
  .page-title h2::before {
    height: 3px;
  }
}
