body {
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
:root {
  --brand-color: #e12429;
  --blue-color: #253049;
  --text-color: #282828;
  --silver-color: #e9ecf9;
  --grey-color: #333;
}
p {
  font-family: "Manrope", sans-serif !important;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: justify;
  color: #6c757d;
}
